/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Satisfy');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Satisfy');

 *{
  font-family: "Open Sans Condensed" ;
  
}

body {
  background-image: url('/app/assets/images/cabbage.jpeg');
  background-color: #1A2A35;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Satisfy";
  src: url('https://fonts.googleapis.com/css?family=Satisfy') format("truetype");
  font-size: 90px;
  font-weight: normal;
  color: #FDFFFF;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 46px;
  font-weight: normal;
  color: #FDFFFF;
}

h3 {
  color: #5A003A;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FDFFFF;
  opacity: 0.5;
}

.button {
  color: #5A003A;
  background-color: #FDFFFF;
  border-radius: 5px;
}
